/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 nov. 2022, 02:33:52
    Author     : EMNA
*/

.button
{
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #1d87da 85%, #1a78c2 15%); ;
    -fx-background-radius: 5;
}

.button:hover
{
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #1d87da 45%, #1a78c2 50%);
    -fx-background-radius: 20;
}
