/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 déc. 2022, 00:04:23
    Author     : EMNA
*/
.Pane{
    -fx-background-color: #0A1172;
}
#LeftAnchorpan{
     -fx-background-color: #0A1172;  
}
#AnchorPs{
    -fx-background-color: #0A1172;
}
